# Folders:
.DS_Store/
.vs/
.vscode/
bin/
build/
cache/
log/
obj/
node_modules/

# Files:
*.csproj.user
*~

# Project specific:
bison-parser.c
bison-parser.h
flex-scanner.c
program

*.swp
test/reject/00-multiuse
test/accept/00-multiuse

out
*.out
*.log
*.aux
*.pdf
*.tex
*.gz
*.vx

bison-3.8.2/*
make-4.3/*
